<div class="container">
    <div class="jumbotron">
        <h1>ASP.NET MVC 5 TEST</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" id="btn_create_employee">Create Employee</button>

        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn btn-warning" id="btn_import_employee">Import Employees</button>
            <input id="file-input" type="file" name="name" onselect="importEmployees()" accept=".json" style="display: none;" />
        </div>

    </div>

    <table id="tbl_employee" class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th align="left">Registration Number</th>
                <th align="left">IsExternal</th>
                <th align="left">FullName</th>
                <th align="left">Gender</th>
                <th align="left">Birthday</th>
                <th align="left">Position Name</th>
                <th align="left">Salary</th>
                <th align="left"></th>
                <th align="left"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeModalLabel">Edit Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label">Registration Number:</label>
                    <input type="text" class="form-control" id="registration-number" disabled>
                </div>
                <div class="form-group">
                    <label class="col-form-label">IsExternalEmployee:</label>
                    <input type="text" class="form-control" id="is-external-employee">
                </div>
                <div class="form-group">
                    <label class="col-form-label">FullName:</label>
                    <input type="text" class="form-control" id="full-name">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Gender:</label>
                    <input type="text" class="form-control" id="gender">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Birthday:</label>
                    <input type="text" class="form-control" id="birthday">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Position:</label>
                    <input type="text" class="form-control" id="position">
                </div>
                <div class="form-group">
                    <label class="col-form-label">Salary:</label>
                    <input type="text" class="form-control" id="salary">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" Onclick='updateEmployee()'>Save changes</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        loadData();
    });

    $('#btn_import_employee').on('click', function () {
        $('#file-input').val(null);
        $('#file-input').trigger('click');
    });

    $('#file-input').bind("change", function () {
        var formData = new FormData();
        formData.append('file', $('#file-input')[0].files[0]);

        $.ajax({
            type: 'POST',
            url: '/api/employee/import',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            success: function (data) {
                saveToFile(data);
                loadData();
            }
        });
    });

    function Base64ToBytes(base64) {
        var s = window.atob(base64);
        var bytes = new Uint8Array(s.length);
        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
        return bytes;
    };

    var saveToFile = (data) => {
        //Convert Base64 string to Byte Array.
        var bytes = Base64ToBytes(data);

        //Convert Byte Array to BLOB.
        var blob = new Blob([bytes], { type: "application/octetstream" });

        //Check the Browser type and download the File.
        var isIE = false || !!document.documentMode;
        if (isIE) {
            window.navigator.msSaveBlob(blob, fileName);
        } else {
            var url = window.URL || window.webkitURL;
            link = url.createObjectURL(blob);
            var a = $("<a />");
            a.attr("download", "response.txt");
            a.attr("href", link);
            $("body").append(a);
            a[0].click();
            $("body").remove(a);
        }
    };

    function loadData() {
        //need to move to service
        $("#tbl_employee tbody tr").remove();
        $.ajax({
            type: 'GET',
            url: '/api/employee',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                        + `<td>${item.RegistrationNumber}</td>`
                        + `<td>${item.IsExternalEmployee}</td>`
                        + `<td>${item.FullName}</td>`
                        + `<td>${item.Gender}</td>`
                        + `<td>${item.Birthday}</td>`
                        + `<td>${item.Position?.Name}</td>`
                        + `<td>${item.Position?.BaseSalary}</td>`
                        + `<td><button Onclick='edit(${item.RegistrationNumber},${item.IsExternalEmployee})'>Edit</button></td>`
                        + `<td><button Onclick='deleteEmployee(${item.RegistrationNumber},${item.IsExternalEmployee})'>Delete</button></td>`
                        + "</tr>";
                    $('#tbl_employee tbody').append(rows);
                });
            },
            error: function (ex) {

            }
        });
        return false;
    }

    function getEmployee(registrationNumber) {
        //need to move to service
        return $.ajax({
            type: 'GET',
            url: `/api/employee/${registrationNumber}`,
            dataType: 'json',
            success: function (data) {
                return data;
            },
            error: function (ex) {

            }
        });
    }

    async function edit(registrationNumber) {
        let item = await getEmployee(registrationNumber);
        fillModal(item);
        $('#employeeModal').modal('show');
    }

    function fillModal(item) {
        $('#registration-number').val(item.RegistrationNumber);
        $('#is-external-employee').val(item.IsExternalEmployee);
        $('#full-name').val(item.FullName);
        $('#gender').val(item.Gender);
        $('#birthday').val(item.Birthday);
        $('#position').val(item.Position?.Name);
        $('#salary').val(item.Position?.BaseSalary);
    }

    function getModelFromModalWindow() {
        return {
            registrationNumber: $('#registration-number').val(),
            isExternalEmployee: $('#is-external-employee').val(),
            fullName: $('#full-name').val(),
            gender: $('#gender').val(),
            birthday: $('#birthday').val(),
            positionName: $('#position').val(),
            baseSalary: $('#salary').val()
        }
    }

    function updateEmployee() {
        let item = getModelFromModalWindow();

        return $.ajax({
            type: 'PUT',
            url: `/api/employee`,
            dataType: 'json',
            data: item,
            success: function (data) {
                $('#employeeModal').modal('hide');
                loadData();
            },
            error: function (ex) {

            }
        });


    }

    function deleteEmployee(registrationNumber) {
        //need to move to service
        $.ajax({
            type: 'DELETE',
            url: `/api/employee?registrationNumber=${registrationNumber}`,
            success: function () {
                loadData();
            },
            error: function (ex) {

            }
        });
    }
</script>