@model IEnumerable<WebAppEmployee.Domain.Models.Employee>
<div class="jumbotron">
    <h1>ASP.NET MVC 5 TEST</h1>
</div>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<div class="row">
    <div class="col-md-4">
        <table id="tbl_employee" class="table table-bordered table-striped table-responsive table-hover">
            <thead>
                <tr>
                    <th align="left">Registration Number</th>
                    <th align="left">IsExternal</th>
                    <th align="left">FullName</th>
                    <th align="left">Gender</th>
                    <th align="left">Birthday</th>
                    <th align="left">Position Name</th>
                    <th align="left">Salary</th>
                    <th align="left"></th>
                    <th align="left"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        @Scripts.Render("~/scripts/jquery-3.6.0.min.js")
        @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        LoadData();
    });

    function LoadData() {
        $("#tbl_employee tbody tr").remove();
        $.ajax({
            type: 'GET',
            url: '/api/employee',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (i, item) {
                    var rows = "<tr>"
                        + "<td>" + item.RegistrationNumber + "</td>"
                        + "<td>" + item.IsExternalEmployee + "</td>"
                        + "<td>" + item.FullName + "</td>"
                        + "<td>" + item.Gender + "</td>"
                        + "<td>" + item.Birthday + "</td>"
                        + "<td>" + item.Position?.Name + "</td>"
                        + "<td>" + item.Position?.Salary + "</td>"
                        + `<td><button Onclick='Edit(${item.RegistrationNumber},${item.IsExternalEmployee})'>Edit</button></td>`
                        + `<td><button Onclick='Delete(${item.RegistrationNumber},${item.IsExternalEmployee})'>Delete</button></td>`
                        + "</tr>";
                    $('#tbl_employee tbody').append(rows);
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
                alert("StackTrace: " + r.StackTrace);
                alert("ExceptionType: " + r.ExceptionType);
            }
        });
        return false;
    }

    function Edit(registrationNumber, isExternalEmployee) {
        $('#exampleModal').modal('show');
    }

    function Delete(registrationNumber, isExternalEmployee) {
        $.ajax({
            type: 'DELETE',
            url: `/api/employee?registrationNumber=${registrationNumber}&isExternalEmployee=${isExternalEmployee}`,
            success: function () {
                LoadData();
            }
        });
    }
</script>